global:
  scrape_interval: 15s 
  evaluation_interval: 15s 
  external_labels:
    monitor: 'codelab-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'nginx-vts'
    static_configs:
      - targets: ['nginx:8000']

  - job_name: 'node-exporter' 
    static_configs: 
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor' 
    static_configs:
      - targets: ['cadvisor:8080']
  
  - job_name: 'pg-exporter' 
    static_configs:
      - targets: ['pg-exporter:9630']
