name: Docker Image CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ main, dev ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker images
      run: docker-compose up -d